body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  height: 10vh;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.slider-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 125px;
}

.headerFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 480px;
  /* border: 2px solid black; */
  margin: 10px;
}

#dog-image {
  max-width: 100%;
  height: 100%;
  object-fit: fill;
}

.prevButton,
.nextButton {
  font-size: 50px;
}

.dogBreed {
  font-size: 30px;
}

footer {
  height: 10vh;
}